<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.requests.sesatha_mad_android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SESATHA_MADAndroid">
        <activity android:name=".MyOrdersActivity"></activity>
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".MyItemEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AllItemsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyItemDetailsActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".MyItemsActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".ItemDescriptionActivity" />
        <activity android:name=".FirebaseDemoActivity" />
        <activity android:name=".AddPaymentActivity" />
        <activity android:name=".PostItem" />
        <activity android:name=".RegisterTypeActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            />
        <activity android:name=".PasswordRestActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PaymentActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>